main {
    padding: 30px;
    padding-top: 150px;
}

.culture-grid {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 50px;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 50px;
}

.about-us-culture-image {
    width: 300px;
    height: 400px;
}

.images {
    margin: 0;
    width: 100%;
}